<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">Dejoun</a>

        <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/members']">Matches</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/lists']">Lists</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/messages']">Messages</a>
            </li>
        </ul>

        <div dropdown class="dropdown" *ngIf="loggedIn()">
            <a class="dropdown-toggle text-light" dropdownToggle>
                Welcome {{auth.decodedToken?.unique_name | titlecase}}
            </a>
            <div class="dropdown-menu dropdown-menu-right mt-3" *dropdownMenu>
                <div class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i>Edit Profile</div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out"></i>Logout</div>
            </div>
        </div>

        <form #loginForm="ngForm" (ngSubmit)="login()" class="form-inline my-2 my-lg-0" *ngIf="!loggedIn()">
            <input class="form-control mr-sm-2" type="text" required placeholder="Username" name="username" [(ngModel)]="model.username">
            <input class="form-control mr-sm-2" type="password" required placeholder="Password" name="password" [(ngModel)]="model.password">
            <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</nav>